<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TabletopDB</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <header>
      <h1>Create character.</h1>
    </header>
    <main>
      <h2>Go <a href="/">back</a>.</h2>
      <br />
      <form action="/characters" method="post">
        <h3>Concept</h3>
        <h3>Ancestry</h3>
        <h3>Hindrances</h3>
        <h3>Traits</h3>
        <h3>Attributes</h3>
        <h3>Skills</h3>
        <h3>Derived statistics</h3>
        <h3>Edges</h3>
        <h3>Gear</h3>
        <h3>Background details</h3>
      </form>
    </main>
    <footer>
      <p>&copy; 2024 TabletopDB. All rights reserved.</p>
    </footer>
  </body>
</html>
