<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TabletopDB</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <header>
      <h1>Create character</h1>
    </header>
    <main>
      <h2>Go <a href="/">back</a>.</h2>
      <br />
      <!-- TODO create form with character creation steps -->
    </main>
    <footer>
      <p>&copy; 2024 TabletopDB. All rights reserved.</p>
    </footer>
  </body>
</html>
