<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TabletopDB</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to the Tabletop Database</h1>
    </header>
    <main>
      <p>
        This site is designed to minimize physical resource requirements.
        <br />
        You can create and select characters for the game system:
        <i>Savage Worlds Adventure Edition</i>.
      </p>
      <br />
      <h2>
        <a href="/character_creator">Create</a> a new character.
        <br />
        <a href="/character_selector">Select</a> an existing one.
      </h2>
    </main>
    <footer>
      <p>&copy; 2024 TabletopDB. All rights reserved.</p>
    </footer>
  </body>
</html>
